<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="500pxConsumerKey" value="YOUR_CONSUMER_KEY_HERE" />
    <add key="Cognitive_ComputerVision_ApiKey" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_ComputerVision_ApiRootUrl" value="YOUR_API_ROOT_URL_HERE" />
    <add key="Cognitive_CustomVision_TrainingKey" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_CustomVision_PredictionKey" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_Face_ApiKey" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_Face_ApiRootUrl" value="YOUR_API_ROOT_URL_HERE" />
    <add key="Cognitive_Emotion_ApiKey" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_Emotion_ApiRootUrl" value="YOUR_API_ROOT_URL_HERE" />
    <add key="Cognitive_TextAnalysis_ApiKey" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_TextAnalysis_ApiRootUrl" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_TranslatorText_ApiKey" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_BingAutosuggest_ApiKey" value="YOUR_API_KEY_HERE" />
    <add key="Cognitive_BingSpeech_ApiKey" value="YOUR_API_KEY_HERE" />  
  </appSettings>
</configuration>